
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4  ">
          <a
            href="/customer" 
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
         <span>  Customer dashboard</span>
          </a>
          <a  routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
          (click)="showAccountCreateFun()"><i class="fas fa-lock fa-fw me-3"></i><span>Register Customer </span></a
        >
        <a  routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
        (click)="showAccountRequestFun()"><i class="fas fa-lock fa-fw me-3"></i><span>Request Account  </span></a
      >
      
          <a routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
           (click)="showTransactionFun()">
           <i class="fas fa-lock fa-fw me-3"></i><span>Transaction</span></a
          >
          <a routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
          (click)="showDocumentFun()">
          <i class="fas fa-chart-line fa-fw me-3"></i>
          <span>Upload Documents</span>
       </a>
          <a routerLinkActive="active" (click)="queyFunShow()" class="list-group-item list-group-item-action py-2 ripple mt-lg-2">
            <span>View All Query Asked</span>
          </a>
          <a  routerLinkActive="active"  class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
           (click)="logout()">
            <i class="fas fa-chart-bar fa-fw me-3"></i><span>LogOut Customer</span></a
          >
        
        
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-primary-subtle fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
          src="../../../assets/logo.png"
            height="50"
            width="80"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <ul class="navbar-nav ms-auto d-flex flex-row">
         <li><h1 *ngIf="needRegistartion">Create customer </h1></li>
          <li><h1>Welcome {{userName}}  </h1></li>
          <!-- Avatar -->
          <li class="nav-item dropdown g-1">
           
              <img
                src="../../../assets/avtar.png"
                class="rounded-circle"
                height="50"
                alt="Avatar"
                loading="lazy"
              />
       
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
  
   
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
      <div class="col" (click)="viewPassbook()">
        <div class="card h-100">
          <img src="../../../assets/passbook.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Passbook </h5>
            <p class="card-text">
              You can view passbook here
            </p>
          </div>
        </div>
      </div>
      <div class="col" (click)="viewAccountStatement()">
        <div class="card h-100">
          <img src="../../../assets/statment.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Account Statement</h5>
            <p class="card-text">
            view Your Account Statement
            </p>
          </div>
        </div>
      </div>
      <div class="col" (click)="viewQueryForm()">
        <div class="card h-100">
          <img src="../../../assets/query.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Ask Query</h5>
            <p class="card-text">You can view query replies from admin</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/calculator.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Interest Calculator</h5>
            <p class="card-text">
             You can Calculate Interest of your FD account
            </p>
          </div>
        </div>
      </div>
   
      <!-- Repeat similar structures for other cards -->
    </div>
   
    <!-- passbook.component.html -->

    <div *ngIf="showPassbook">
    <app-customer-passbook></app-customer-passbook>
    </div>
   
    
    <div *ngIf="showAccountForm">
      <app-request-account ></app-request-account>
    </div>

    <div *ngIf="showAccountStatment">
      <app-account-statement></app-account-statement>
    </div>
   

    <div *ngIf="showDocument">
      <app-customer-document></app-customer-document>
    </div>
    
    <div *ngIf="showAccountCreate">
      <app-customer-register ></app-customer-register>
    </div>

    <div  *ngIf="showQuery">
      <app-customer-query></app-customer-query>
    </div>
    

    <div *ngIf="showTransaction">
      <app-customert-transaction ></app-customert-transaction>
    </div>
    
    <h4 *ngIf="showWarrning"> Create Customer Details to Request Account</h4>

    <div *ngIf="showQueryTab">
     <app-view-query></app-view-query>
    </div>

  <h3>userId: out {{newUserId}}</h3>
  
  <h3>customerId:{{customerId}}</h3>

  <h3>AccountId:{{customerId}}</h3>
  <h3>AccountId: out{{customerId}}</h3>

  <h3>userId In:{{userId}}</h3>
  </main>
  <!--Main layout-->
 