<!-- your-component.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Document Upload</h2>
        <form [formGroup]="customerDocumentForm" (ngSubmit)="submitData(customerDocumentForm.value)">
          <div class="mb-3">
            
            <span *ngIf="TypeValidator && TypeValidator.invalid && TypeValidator.touched"
                    style="color: red;"
                    >required Document Type</span>
            <label for="documentType" class="form-label">Document Type:</label>
            <select class="form-select" formControlName="documentType" >
              <option value="">Select Document Type</option>
              <option value="passport">Passport</option>
              <option value="idCard">ID Card</option>
             
            </select>
          </div>
          <div class="mb-3">
            <span *ngIf="FileValidator && FileValidator.invalid && FileValidator.touched"
            style="color: red;"
            >required File Upload</span>
            <label for="documentFile" class="form-label">Choose File:</label>
            <input type="file" id="fileInput" name="fileInput"   formControlName="documentFile">
            <!-- <input type="file" class="form-control" formControlName="documentFile" > -->
          </div>
          <div class="mb-3">
           
                    <span *ngIf="customerValidator && customerValidator.invalid && customerValidator.touched"
                    style="color: red;"
                    >required Customer ID</span>
            <label for="documentFile" class="form-label">Customer ID:</label>
            <input type="number" class="form-control"  formControlName="customerId"  >
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="customerDocumentForm.invalid">Upload Document</button>
        </form>
      </div>
    </div>
  </div>
  