<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4  ">
        <a
          href="/admin"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
        >
        <fa-icon [icon]="faCoffee"></fa-icon><span>  Admin dashboard</span>
        </a>
        <a routerLinkActive="active"class="list-group-item list-group-item-action py-2 ripple mt-lg-2" (click)="showCustomerFun()">
          <i  class="fab fa-mdb"><span>Customers</span></i>
        </a>
        <a routerLink="/admin" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Transaction</span></a
        >
        <a  routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
        (click)="showAccountRequestFun()"
          ><i class="fas fa-chart-line fa-fw me-3"></i><span>Account Request</span></a
        >
        <a routerLink="/admin" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mt-lg-2">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Queries</span>
        </a>
        <a routerLink="/admin" routerLinkActive="active"  class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Logout</span></a
        >
      
      
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-primary-subtle fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/bankk.jpg"
          height="40"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <!-- Search form -->
    
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
       

       

      
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
              class="rounded-circle"
              height="22"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <div class="container mt-2">
      <div class="row">
        <div class="col-md-5">
          <input type="date" [(ngModel)]="dateData" class="form-control" placeholder="Filter Transaction using Date">
        </div>
          <div class="col-md-5">
          <button (click)="searchData()" class="btn btn-success">Search</button>
        </div>
      </div>
    </div>
  </div>
  <ngb-alert *ngIf="resultArray">
    <h1 class="text-success">No Transaction have </h1>
    <button type="button" class="btn btn-success" (click)="reset()">Clear</button> 
  </ngb-alert>
  <div class="container mt-5" *ngIf="resultcondition">
    <h1 class="text-success">Searched Data</h1>
      <table class="table table-striped table-bordered table-responsive-lg"   >
        <thead class="bg-dark text-white">
          <tr>
            <th>Account Number</th>
            <th>Description</th>
            <th>State</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Transaction Type</th>
          </tr>
        </thead>
        <tbody>
          <!-- *ngFor="let resulta of result -->
          <tr *ngFor="let resulta of result">
            <td>{{resulta.accountId }}</td>
            <td>{{resulta.description }}</td>
            <td>{{resulta.state }}</td>
            <td>{{resulta.transactionAmount}}</td>
            <td>{{resulta.transactionDate}}</td>
            <td>{{resulta.transactionType }}</td>
          </tr>
        </tbody>
          <button type="button" class="btn btn-success" (click)="reset()">Clear</button>    
      </table>
     
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    <div class="col" (click)="handleCardClick()">
      <div class="card h-100">
        <img src="../../../assets/query2.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">View Query Request</h5>
          <p class="card-text">
            You can view the Customer Query Here
          </p>
        </div>
      </div>
    </div>
    <div class="col" (click)="handleAccountRequest()">
      <div class="card h-100">
        <img src="../../../assets/request.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">View Account Requests</h5>
          <p class="card-text">
            You can view the Customer Applied Request to admin
          </p>
        </div>
      </div>
    </div>
    <div class="col" (click)="AccountTransactionFilter()">
      <div class="card h-100">
        <img src="../../../assets/filter.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">Filter Customer Account Transactions</h5>
          <p class="card-text">
            admin can filter the customer transaction by Account Number
          </p>
        </div>
      </div>
    </div>
    <div class="col" (click)="UpdateInterest()">
      <div class="card h-100">
        <img src="../../../assets/interest.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">Set Interest Rate</h5>
          <p class="card-text">
            admin can change the Intrest Rate
          </p>
        </div>
      </div>
    </div>
    <!-- Repeat similar structures for other cards -->
  </div>
  <ngb-alert *ngIf="noQueryAdded" >
    Sorry No Query Request Added <button type="button" class="btn btn-success" (click)="reset()">Clear</button> 
  </ngb-alert>
  <div class="container mt-4" *ngIf="showQueryResult">
    <div class="row">
      <!-- Left Column (Upper part) -->
      <div class="col-md-6">
        <h2>Customer Queries</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Query Message</th>
              <th>Customer ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let query of customerQueries">
              <td>{{ query.queryText }}</td>
              <td>{{ query.customerId }}</td>
              <td>
                <button class="btn btn-primary"(click)="generateReplyForm()">Reply</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Right Column (Lower part) -->
      <div class="col-md-6" *ngIf="formShow">
        <h2>Reply to Query</h2>
        <form [formGroup]="replyForm" (ngSubmit)="onSubmit(replyForm.value)">
          <div class="mb-3">
            <span *ngIf="replyValidator && replyValidator.invalid && replyValidator.touched" style="color: red;">
              Required Reply Text
            </span>
            <label for="replyMessage" class="form-label">Reply Message:</label>
            <textarea class="form-control" formControlName="replyQuery"></textarea>
          </div>
          <div class="mb-3">
            <span *ngIf="cutomerIdValidator && cutomerIdValidator.invalid && cutomerIdValidator.touched" style="color: red;">
              Required Customer ID
            </span>
            <label for="customerId" class="form-label">Customer ID:</label>
            <input type="number" class="form-control" formControlName="customerId">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
  
  <div *ngIf="showAccountTransactions">
    <app-account-filter></app-account-filter>
  </div>
  
  <div *ngIf="showCustomerAll">
<app-update-customer></app-update-customer>
  </div>
  
  <div *ngIf="showAccountRequest">
<app-admin-account-request></app-admin-account-request>
  </div>
  
  <div *ngIf="showUpdateInterest">
    <app-set-interest></app-set-interest>

  </div>
  
</main>
<!--Main layout-->